# Defines owners of specific parts of the codebase.

# Global owner of all code
*   @dealloc

# As recommended by Github, owner of this file (https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-and-branch-protection)
.github/CODEOWNERS    @dealloc

# All documentation should be approved by following owners
*.md    @dealloc

# All CI tooling should be approved by following owners
tools/ci/*    @dealloc
